@page
@model CourseManagementApp.Pages.Students.UpdateModel
@{
    ViewData["Title"] = "Student Info / Edit";
    bool isChecked = false;
}
<div class="row justify-content-center container-fluid border rounded shadow bg-light my-3 py-3">

    <h2 class="text-center">Student: @Model.studentDTO.Lastname @Model.studentDTO.Firstname</h2>
    @if (!Model.errormessage.Equals(""))
    {
        <h5><strong>@Model.errormessage</strong></h5>
    }

    <div class="col-sm-5">
        <form method="post">
            <div class="row mb-3">
                <input type="hidden" class="form-control" name="id" id="firstname" value="@Model.studentDTO.Id" />
            </div>
            <div class="row mb-3">
                <label for="firstname" class="col-md-1 col-form-label">Firstname</label>
                <div>
                    <input type="text" class="form-control" name="firstname" id="firstname" placeholder="Enter firstname" value="@Model.studentDTO.Firstname!.Trim()" />
                </div>
            </div>
            <div class="row mb-3">
                <label for="lastname" class="col-md-1 col-form-label">Lastname</label>
                <div>
                        <input type="text" class="form-control" name="lastname" id="lastname" placeholder="Enter lastname" value="@Model.studentDTO.Lastname!.Trim()" />
                </div>
            </div>
            <div class=" col-sm-12 text-center">
                <button type="submit" class="btn col-md-3 btn-danger">Submit</button>
                <a href="/Students/Index" role="button" class="btn offset-md-2 col-md-3 btn-danger">Cancel</a>
            </div>
        </form>
    </div>
    <div class="offset-md-3 col-auto">
        <table id="sortMe" class="table table-striped table-hover w-auto">
            <thead>
                <tr>
                    <th id="cursor" data-type="number"><i class="fa-solid fa-sort"></i>  ID</th>
                    <th id="cursor" data-type="text"><i class="fa-solid fa-sort"></i>  Courses Assigned:</th>
                </tr>
            </thead>
            <tbody>
                @if (Model.courses is not null)
                {
                    @foreach (var course in Model.courses)
                    {
                        @foreach (var studentCourse in Model.studentsCourses)
                        {
                            isChecked = false;
                            @if (@course.Id == studentCourse.CourseId && @Model.studentDTO.Id == studentCourse.StudentId)
                            {
                                isChecked = true;
                                break;
                            }
                        }
                        @if (isChecked)
                        {
                            <tr><td>@course.Id</td><td>@course.Description</td></tr>
                        }
                    }
                }
            </tbody>
        </table>
        <a href="/StudentsCourses/Create" role="button" class="btn offset-md-2 col-md-9 btn-danger">Add Course</a>
    </div>
</div>